<div class="container">
  <div class="form-group">
    <div class="row">

      <div class="col-12">
        <br>
        <h2 class="margin_top login_left_1"><strong>新規作成</strong></h2>
        <p class="login_left_1"><strong>会員情報を入力してください。</strong></p>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="kanji+name">
          <%= f.label '性' %><br />
          <%= f.text_field :kanji_last, autofocus: true , class: "form-control"   %>
          <%= f.label '名' %><br />
          <%= f.text_field :kanji_first, autofocus: true, class: "form-control"    %>
        </div>

        <div class="katakana_name">
          <%= f.label 'セイ' %><br />
          <%= f.text_field :katakana_last, autofocus: true, class: "form-control"    %>
          <%= f.label 'メイ' %><br />
          <%= f.text_field :katakana_first, autofocus: true, class: "form-control"    %>
        </div>

        <div class="field">
          <%= f.label '電話番号' %><br />
          <%= f.text_field :phone_number, autofocus: true, class: "form-control"    %>
        </div>

        <div class="field">
          <%= f.label 'Eメール' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"   %>
        </div>

        <div class="field">
          <%= f.label 'パスワード' %>
          <% if @minimum_password_length %>
          <em>(
            <%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control"   %>
        </div>

        <div class="field">
          <%= f.label 'パスワード（確認）' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"   %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary margin_top" %>
        </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>