<div class="container">
  <div class="form-group">
    <div class="row">

      <div class="col-lg-12">
        <br>
        <h2 class="margin_top login_left_1"><strong>新規登録</strong></h2>
        <p class="login_left_1"><strong>会員情報を入力してください。</strong></p>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="sginup_field margin_top">

          <h3 class="margin_top login_left_1 padding_top"><strong>新規登録フォーム</strong></h3>
          <p class="login_left_1">すべての項目を入力ください</p>

          <div class="form-group row padding_top kanji_name">
            <label for="inputPassword" class="col-sm-2 col-form-label login_left_1 text_right">名前</label>
            <div class="col-sm-8">
              <%= f.text_field :kanji_last, autofocus: true , class: "form-control",placeholder: "性" %>
            </div>
          </div>

          <div class="form-group row kanji_name">
            <label for="inputPassword" class="col-sm-2 col-form-label login_left_1 text_right"></label>
            <div class="col-sm-8">
              <%= f.text_field :kanji_first, autofocus: true , class: "form-control", placeholder: "名" %>
            </div>
          </div>

          <div class="form-group row katakana_name">
            <label for="inputPassword" class="col-sm-2 col-form-label login_left_1 text_right">カナ</label>
            <div class="col-sm-8">
              <%= f.text_field :katakana_last, autofocus: true , class: "form-control",placeholder: "セイ" %>
            </div>
          </div>

          <div class="form-group row katakana_name">
            <label for="inputPassword" class="col-sm-2 col-form-label login_left_1 text_right"></label>
            <div class="col-sm-8">
              <%= f.text_field :katakana_first, autofocus: true , class: "form-control", placeholder: "メイ" %>
            </div>
          </div>


          <div class="form-group row field padding_top">
            <label for="inputPassword" class="col-sm-2 col-form-label login_left_1 text_right">電話番号</label>
            <div class="col-sm-8">
              <%= f.text_field :phone_number, autofocus: true, class: "form-control", placeholder: "例：080-1234-5678" %>
            </div>
          </div>

          <div class="form-group row field">
            <label for="inputPassword" class="col-sm-2 col-form-label login_left_1 text_right">Eメールアドレス</label>
            <div class="col-sm-8">
              <%= f.text_field :phone_number, autofocus: true, class: "form-control", placeholder: "例：nagano@nagano.com" %>
            </div>
          </div>

          <div class="form-group row field">
            <label for="inputPassword" class="col-sm-2 col-form-label login_left_1 text_right">パスワード</label>
            <div class="col-sm-8">
              <% if @minimum_password_length %>
              <em>
                <% end %>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "６文字以上" %>
            </div>
          </div>

          <div class="form-group row field">
            <label for="inputPassword" class="col-sm-2 col-form-label login_left_1 text_right">パスワード 確認</label>
            <div class="col-sm-8">
              <%= f.text_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "入力されたパスワードを再度入力してください" %>
            </div>
          </div>

          <div class="actions text_center">
            <%= f.submit "         新規登録         ", class: "btn btn-info" %>
          </div>
          <% end %>
          <div class="login_left_1 padding_top text_right">
            <%= render "devise/shared/links" %>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>