<div class="container">
	<div class="row">
		<div class="col-lg-1">
		</div>
		<div class="col-lg-10">
			<% if flash[:notice] %>
			<%= flash[:notice] %>
			<% end %>
			<h2>ユーザー管理画面</h2>
			<p><%= link_to "購入履歴一覧画面へ", ad_shopping_hists_path %></p>
			<table class="table">
				<thead>
					<tr>
						<th>名前</th>
						<th>メールアドレス</th>
						<th>電話番号</th>
						<th>総額</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @users.find_each do |user| %>
					<tr>
						<td><%= user.kanji_last %><%= user.kanji_first %></td>
						<td><%= user.email%></td>
						<td><%= user.phone_number%></td>
						<td>
							<% result = 0 %>
							<% @shopping_hists.where(:user_id => user.id).find_each do |s| %>
								<% s.ordered_items.each do |o| %>
									<% result += o.price * o.quantity %>
								<% end %>
							<% end %>
							<%= number_to_yen(result) %>
						</td>
						<td><%= link_to '編集', edit_ad_user_path(user.id)%></td>
						<td><%= link_to '削除', ad_user_path(user.id), method: :delete, data: {confirm: '削除してよろしいですか？'} %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="margin_0">
			<%= paginate @users %>
		</div>
		<div class="col-lg-1">
		</div>
	</div>
</div>