<div class="container">
    <div class="row">
        <div class="col-12"><br><br>
            <h3 class="margin_top"><strong>お客様情報編集画面</strong></h3><br>
            <div class="row margin_top">
                <%= form_for @user, method: :patch  do |f| %>
                <p class=""><strong>お名前</strong></p>
                <div class="">
                    <%= f.text_field :kanji_last %><%= f.text_field :kanji_first %>
                </div><br>
                <p class=""><strong>フリガナ</strong></p>
                <div class="">
                    <%= f.text_field :katakana_last %><%= f.text_field :katakana_first %>
                </div><br>
                <p class=""><strong>電話番号</strong></p>
                <div class="">
                    <%= f.text_field :phone_number %>
                </div><br>
                <p class=""><strong>Eメールアドレス</strong></p>
                <div class="">
                    <%= f.text_field :email %>
                </div><br>

                <div class="addresses">
                    <%= f.fields_for :address do |a| %>
                    <div class="">
                    <p class=""><strong>郵便番号</strong></p>
                        <%= a.text_field :postcode, type:"text", name:"zip01", size:"10", maxlength:"8", onKeyUp: "AjaxZip3.zip2addr(this,'','pref01','addr01');" %>
                    </div><br>
                    <p class=""><strong>都道府県</strong></p>
                    <div class="">
                        <%= a.text_field :prefecture, type:"text", name:"pref01", size:"20" %>
                    </div><br>
                    <p class=""><strong>市区町村</strong></p>
                    <div class="">
                        <%= a.text_field :city, type:"text", name:"addr01", size:"60" %>
                    </div><br>
                    <p class=""><strong>番地</strong></p>
                    <div class="">
                        <%= a.text_field :street %>
                    </div><br>
                    <p class=""><strong>物件名</strong></p>
                    <div class="">
                        <%= a.text_field :building %>
                    </div><br>
                    <% end %>
                </div>
                <%= link_to "戻る", :back %>
                <%= f.submit "編集完了" %>

                <% end %>
            </div>
        </div>
    </div>
</div>