<div class="container">
    <div class="row">
        <div class="col-12s">
            <div class="block_30"></div>
            <h2><strong><%= current_user.try(:kanji_last) %> <%= current_user.try(:kanji_first) %> 様の MyPage</strong>
            </h2>
            <p>※パスワードは定期的に更新されることをおすすめします。</p>
            <br>
            <br>
            <div class="border-bottom"></div>
            <br>
            <h3><strong>Infomation</strong></h3>
            <p>カスタマーデスクからのお知らせ。</p>
            <div class="notice_user"><%= current_user.try(:notice) %></div>
            <div class="block_30"></div>
            <div class="border-bottom"></div>
            <br>

            <h3><strong>発送情報</strong></h3>
            <p>購入された商品の発送状況、２件まで表示されます。他をご確認したい場合は購入履歴をご確認ください。</p>
            <% @shopping_history.last(2).each do |sh| %>
            <div class="sh_field mp_firld_margin">
                <%= sh.updated_at.strftime('%Y年%m月%d日 %H:%M') %>　　<%= sh.status %><br>
                <% sh.ordered_items.each do |oi| %>
                <td>
                    <%= attachment_image_tag oi.item, :jacket, size:"100x100" %>
                </td>
            </div>
            <% end %>
            <% end %>

            <div class="border-bottom"></div>
            <div class="mypage_field3 padding_top10px margin_top padding_left10px">
                <%= link_to "購入履歴", shopping_hists_path(current_user.id) %>
            </div>
            <div class="mypage_field3 padding_top10px margin_top padding_left10px">
                <%= link_to "お客様基本情報確認", user_path(current_user.id) %>
            </div>
            <div class="mypage_field3 padding_top10px margin_top padding_left10px">
                <%= link_to "退会", edit_user_registration_path %>
            </div>


        </div>

    </div>