<div class="block_20"></div>
<div class="container">
	<div class="row">
		<div class="col-12 background_img">
			<div class='wave -one'></div>
			<div class='wave -two'></div>
			<div class='wave -three'></div>
			<div class='title'>NaganoEC</div>
			<div class="row">
				<div class="col-3">
					<div class="slider">
						<% @items[0..100].each do |i| %>
						<div><%= attachment_image_tag i, :jacket, fallback: "no_image.jpg" %></div>
						<% end %>
					</div>
				</div>
				<div class="col-9">
					<h2 class="color_white re_text">HOT ITEM</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="sasa">
			<h3>新規商品</h3>
		</div>
		<span>NEW ARRIVAL</span>
		<div class="block_20"></div>
		<% @items.last(5).each do |i| %>
		<%= link_to item_path(i), class: "item_index color_black" do %>

		<div class="item_index">
			<table>
				<tbody>
					<tr>
						<td><br><%= attachment_image_tag i, :jacket, fallback: "no_image.jpg", size: "200x200" %></td>
					</tr>
					<tr>
						<td><%= i.property.property %></td>
					</tr>
					<tr>
						<td><%= i.artist.artist_name %></td>
					</tr>
					<tr>
						<td><%= i.details %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<% end %>
		<% end %>
	</div>
	<div class="row">
	</div>
	<div class="block_30"></div>
	<div class="row">
		<div class="info_user">
			<h3>お知らせ</h3>
		</div>
		<span>INFORMATION</span>
		　　<% @infos[0..4].each do |i| %>
		<div class="infos_table">
			<table class="table">
				<tbody>
					<tr>
						<td><%= i.infomation %></td>
						<td></td>
						<td class="infos_span"><%= i.created_at.strftime("%Y-%m-%d") %></td>
					</tr>
				</tbody>
			</table>
			<% end %>
		</div>
	</div>

</div>