<div class="container">
  <div class="form-group">
    <div class="row">


      <div class="col-12">
        <br>
        <h2 class="margin_top login_left_1"><strong>会員ログイン</strong></h2>
        <p class="login_left_1"><strong>お買い物をするにはログインが必要になります。</strong></p>
        <br>
        <div class="login_field margin_top">

          <h3 class="margin_top"><strong>既に会員登録されている方</strong></h3>
          <p>ログインIDとパスワードを入力して「ログイン」ボタンを押してください</p>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">ログインID</label>
            <div class="col-sm-8">
              <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Eメールアドレス", class: "form-control"  %>
              <div class="col-sm-2"></div>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">パスワード</label>
            <div class="col-sm-8">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "パスワード"  %>
              <div class="col-sm-2"></div>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
          <div class="row">
            <div class="col-2"></div>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          </div>
          <% end %>
          <div class="row">
            <div class="col-2"></div>
            <div class="actions">
              <%= f.submit "ログイン", class: "" %>
            </div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <%= render "devise/shared/links" %>
          </div>
        </div>


        <% end %>
      </div>
    </div>
  </div>
</div>