<div class="container">
	<div class="row">
		<table>
			<tbody>
				<tr>
					<td>
						<h1 class="margin_top color_red">商品検索結果画面</h1>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">

		<% @items.each do |item| %>
			<div class="ad_items_index_table color_black">
				<%= link_to item_path(item), class: "item_index color_black" do %>
					<div class="item_index_field border">
						<td class="border">
							<%= attachment_image_tag item, :jacket, :fill, 230, 230 , fallback: "no_image.jpg",size:'230x230' %>
						</td>
						<div class="property">
							<td><%= item.property.property %></td><br>
						</div>
						<div class="color_blue">
							<td><%= item.artist.artist_name.truncate(10) %></td><br>
						</div>
						<td><%= item.name.truncate(14) %></td><br>
				<% end %>
					<% if user_signed_in? %>
						<% if current_user.admin_user? %>
							<td>
								<div class="text_right">
									<%= link_to "商品内容編集", edit_ad_item_path(item),class: "color_white btn btn-dark" %>
								</div>
							</td>
						<% end %>
					<% else %>
					<% end %>
					</div>
				<div class="border-bottom"></div>
			</div>
		<% end %>
		<div class="block"></div>
		<div class="margin_0">
			<%= paginate @items %>
		</div>
	</div>
</div>