<div class="container">
	<div class="row">
		<table>
			<tbody>
				<tr>
				   <td><h1><%=@item.name%>詳細</h1></td>
			    </tr>
			</tbody>
		</table>
	</div>
	   <div class="row">
	      <div class="ad_items_index_table">
		   	<table>
			   	<tbody class="item-details">
			   		<div class="image">
				   		<tr>
					   		<td><%= attachment_image_tag @item, :jacket,:fill,100,100, fallback: "no_image.jpg" %></td>
				   		</tr>
			   		</div>
			   		<tr>
			   			<td>
			   				<%= @item.property.property %>
			   			</td>
			   		</tr>
			   		<tr>
			   			<td><%= @item.stock %></td>
			   		</tr>
			   			<td><%= form_for @cart,url: carts_path, method: :post do |f| %>
				   				<%= f.hidden_field :user_id, :value => current_user.id %>
				   				<%= f.hidden_field :item_id, :value => @item.id %>
				   				<%= f.hidden_field :amount, :value => 1 %>
				   				<%= f.submit :カートに入れる %>
				   			<% end %>
			   			</td>
			   		</tr>
			   	</tbody>
			</table>
		   </div>
	   </div>
</div>
