<div class="row">
		<h3> 編集</h3>
		<table class="table">
			<thead>
				<tr>
				   </th>id</th>
					<th>投稿日時</th>
					<th>内容</th>
					<th></th>
				</tr>
			</thead>
			<%= form_for @infomation, url:info_path, method: :patch do |f| %>
			<tbody>
				<tr>
					<td><%= @infomation.id %></td>
					<td><%= @infomation.created_at %></td>
					<td><%= f.text_area :infomation %></td>
					<td><%= f.submit '編集完了' %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
