<div class="container">
	<div class="row">
		<table>
			<tbody>
				<tr>
					<td>
						<h1>お知らせ管理画面</h1>
					</td>
				</tr>
				<tr>
					<td><%= link_to "Homeへ", root_path %></td>

				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th>id</th>
					<th>投稿日時</th>
					<th>内容</th>
					<th></th>
				</tr>
			</thead>
			<% @infomations.each do |infomation| %>
			<tbody>
				<tr>
					<td><%= infomation.id %></td>
					<td><%= infomation.created_at %></td>
					<td><%= infomation.infomation %></td>
					<td><%= link_to "編集画面", edit_info_path(infomation.id) %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
		<div class="margin_0">
			<%= paginate @infomations %>
		</div>
	</div>
</div>