<!DOCTYPE html>
<html>

<head>
  <title>Nagano</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
      <a class="navbar-brand" href="/">NaganoEC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto">
          <li class="color_white">
            <%= current_user.try(:kanji_last) %> <%= current_user.try(:kanji_first) %> 様
          </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0">
          <% if current_user.admin_user? %>
          <li class="nav-item li_margin">
            <%= link_to "管理者ページ", ad_top_path,class: "color_white btn btn-dark" %>
            <% end %>
          </li>
          <li class="nav-item li_margin">
            <%= link_to "　ホーム　", root_path, class: "btn btn-dark nav_margin"%>
          </li>
          <li class="nav-item li_margin">
            <%= link_to "　カート　", carts_path, class: "btn btn-dark nav_margin"%>
          </li>

          <li class="nav-item li_margin">
            <%= link_to "マイページ", user_mypage_path(current_user), class: "btn btn-dark nav_margin" %>
          </li>
          <li class="nav-item li_margin">
            <%= link_to "カート", carts_path, class: "btn btn-dark nav_margin" %>
          </li>
          <li class="nav-item li_margin">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-dark nav_margin margin_right_footer" %>
          </li>

        </ul>
        <div class="">
          <%=  search_form_for(@q, url:items_path) do |f|%>
          <%= f.label '' %>
          <%= f.search_field :name_cont,:placeholder => "商品名"%>
          <%= f.submit :検索 %><br>
          <% end %>
        </div>
      </div>
      <% else %>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav mt-2 mt-lg-0">
          <li class="nav-item li_margin">
            <%= link_to "ホーム", root_path, class: "btn btn-dark nav_margin"%>
          </li>
          <li class="nav-item li_margin">
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-dark" %>
          </li>
          <li class="nav-item li_margin">
            <%= link_to "新規作成", new_user_registration_path, class: "btn btn-dark margin_right_footer" %>
          </li>

        </ul>
        <div class="">
          <%=  search_form_for(@q, url:items_path) do |f|%>
          <%= f.label '' %>
          <%= f.search_field :name_cont,:placeholder => "商品名"%>
          <%= f.submit :検索 %><br>
          <% end %>
        </div>
      </div>
      <% end %>
    </nav>
  </header>

  <article>
    <%= yield %>
  </article>
  <div id="page_top"><a href="#"></a></div>
  <div class="block_30"></div>
  <%= render 'users/footer' %>

</body>

</html>