<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header">購入履歴詳細</div>
                <div class="card-body">
                    <div class="card-title user_name">
                        <span>購入者名：</span>
                    </div>
                    <div class="card-text">
                        <%= @shopping_hist.user.kanji_last %><%= @shopping_hist.user.kanji_first %>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-title shopping_date">
                        <span>購入日：</span>
                    </div>
                    <div class="card-text">
                        <%= @shopping_hist.shopping_date.strftime("%Y-%m-%d") %>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-title address">
                        <span>送付先：</span>
                    </div>
                    <div class="card-text">
                        <span>郵便番号：<%= @shopping_hist.address_history.postcode %></span><br>
                        <%= @shopping_hist.address_history.prefecture%><br>
                        <%= @shopping_hist.address_history.city%><br>
                        <%= @shopping_hist.address_history.street%><br>
                        <%= @shopping_hist.address_history.building%><br>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-title order_details">
                        <span>購入内容：</span>
                    </div>
                    <% @shopping_hist.ordered_items.where(:shopping_history_id => @shopping_hist.id).find_each do |o|%>
                    <div class="card-text">
                        <div clss="hists_item">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><%= attachment_image_tag o.item, :jacket, fallback: "no_image.jpg", size:"200x200" %></td>
                                    </tr>
                                    <tr>
                                        <td><%= o.item.property.property %></td>
                                    </tr>
                                    <tr>
                                        <td><%= o.item.artist.artist_name %></td>
                                    </tr>
                                    <tr>
                                        <td><%= o.item.name %></td>
                                    </tr>
                                    <tr>
                                        <td><%= o.quantity %>個</td>
                                    </tr>
                                    <tr>
                                        <td><%= o.price * o.quantity %>円</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>