<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="block_50"></div>
            <div class="col-12">
                <div>
                    <h3><strong>配送先</strong></h3>
                </div>
                <div>
                </div>
                <div>
                    <div>
                        〒<%= @shopping_hist.address_history.postcode %><br>
                        　<%= @shopping_hist.address_history.prefecture%><br>
                        　<%= @shopping_hist.address_history.city%><br>
                        　<%= @shopping_hist.address_history.street%><br>
                        　<%= @shopping_hist.address_history.building%>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="row">
                        <div class="col-12 shopping_history_field_header">
                            <div class="row">
                                <div class=" col-3 padding_top10px">
                                    購入日：<%= @shopping_hist.shopping_date.strftime("%Y-%m-%d") %>
                                </div>
                                <div class="col-9 padding_top10px">
                                    購入されたお客様：<%= @shopping_hist.user.kanji_last %>
                                    <%= @shopping_hist.user.kanji_first %> 様
                                </div>
                            </div>
                        </div>
                    </div>
                    <% @shopping_hist.ordered_items.where(:shopping_history_id => @shopping_hist.id).find_each do |o|%>
                    <div>
                        <div clss="hists_item">
                            <table>
                                <tr>
                                    <div class="row padding_top20px padding_bottom20px shopping_histry_field">
                                        <div class="col-3">
                                            <%= attachment_image_tag o.item, :jacket, fallback: "no_image.jpg", size:"200x200" %>
                                        </div>
                                        <div class="col-9">
                                            <div class="property">
                                                <%= o.item.property.property %>
                                            </div>
                                            <%= o.item.artist.artist_name %><br>
                                            <%= o.item.name %><br>
                                            <%= o.quantity %>個<br>
                                            <%= o.price * o.quantity %>円<br>
                                        </div>
                                    </div>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>